body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* basics */

.hero {
    background-color: #1f2937;
    padding: 10px 200px;
}

.main {
    font-size: 48px;
}

.main, .information {
    font-weight: 900px;
}

.main, .logo, button {
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB
}

.logo {
    font-size: 24px;
}

button {
    background-color: #3882F6;
}

.information {
    font-size: 36px;
}

.information, .quote {
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
}

.top, .bottom {
    display: flex;
}

.top {
    justify-content: space-between;
    align-items: baseline;
}

.bottom {
    align-items: center;
    justify-content: space-between;
}