body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}








#hero, .footer {
    background-color: #1F2937;

}

.main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}






.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

button {
    background-color: #3882F6;
}